{% extends "./baseInicio.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/compras.css' %}">
<title>Compras</title>
{% endblock %}



{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Productos del Usuario
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <!-- Agregar más columnas si es necesario -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in productos_usuario %}
                            <tr>
                                <td>
                                    <img class="img-fluid" 
                                    src="{{producto.imagen.url}}">
                                </td>
                                <td>{{ producto.nombre }}</td>
                                <td>{{ producto.descripcion }}</td>
                                <td>{{ producto.precio }}</td>
                                
                                <td>{{ producto.cantidad }}
                                    <form method="post" action="{% url 'sumar_producto' producto.sku %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-light">Comprar</button>
                                    </form>
                                </td>
                                
                                <!-- Agregar más columnas si es necesario -->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}




{% block script %}


{% endblock %}