{% extends "./baseInicio.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/styleNavbar.css' %}">
<link rel="stylesheet" href="{% static 'css/modificar.css' %}">
<link rel="icon" href="{% static 'img/imgsInicio/image.png' %}">
<title>Administracion</title>
{% endblock %}

{% block body %}
<section class="home">
    <div class="text title"><h1><strong>MODIFICAR UN PRODUCTO</strong></h1></div>
    <div class="container mt-5 mb-2 ">
        <form id="formeditarProducto" action="/editarProdform" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <div class="row">
                <div class="col-md-4 mt-2">
                    <label for="txtSku" class="text fs-6">SKU:</label>
                    <input value="{{prod.sku}}" name="txtSku" id="txtSku" class="form-control" type="text" readonly>
                </div>
                <div class="col-md-4 mt-2">
                    <label for="txtPrecio" class="text fs-6">Precio:</label>
                    <input onblur="validarFormulario()" value="{{prod.precio}}" name="txtPrecio" id="txtPrecio" class="form-control" type="text">
                </div>
                <div class="col-md-4 mt-2">
                    <label for="txtStock" class="text fs-6">Stock:</label>
                    <input onblur="validarFormulario()" value="{{prod.stock}}" name="txtStock" id="txtStock" class="form-control" type="text">
                </div>
                <div class="col-md-12">
                    <label for="txtNombre" class="text fs-6">Nombre:</label>
                    <input onblur="validarFormulario()" value="{{prod.nombre}}" name="txtNombre" id="txtNombre" class="form-control" type="text">
                </div>
                <div class="col-md-12">
                    <label for="txtDescripcion" class="text fs-6">Descripción:</label>
                    <input onblur="validarFormulario()" value="{{prod.descripcion}}" name="txtDescripcion" id="txtDescripcion" class="form-control" type="text">
                </div>
                <div class="col-md-12">
                    <label for="cmbCategoria" class="text fs-6">Categoria:</label>
                    <select name="cmbCategoria" id="cmbCategoria" class="form-select" aria-label="Default select example">
                        <option disabled selected>Seleccione</option>
                        {% for i in cate %}
                        <option value="{{i.id_categoria}}" {% if i.id_categoria == prod.categoria_id.id_categoria %} selected {% endif %} >{{i.nombre}}</option>
                        {% endfor %}
                      </select>
                </div>
                <div class="col-md-6">
                    <label for="txtImagen" class="text fs-6">Imagen:</label>
                    <input name="txtImagen" id="txtImagen" class="form-control" type="file">
                </div>
                <div class="col-md-6 text-center">
                    <img src="{{prod.imagen.url}}" class="mt-3" height="100" alt="">
                </div>
            </div>
            <button class="btn btn-success mt-5 mb-3 w-100">Guardar Cambios<i class="ms-2 bi bi-pencil-square"></i></button>
        </form>
    </div>
    <br>
    <br>
    <!-- Fin Contenedor que Centra -->
</section>
{% endblock %}

{% block script %}
<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'js/reloj.js' %}"></script>
<script src="{% static 'js/navbar.js' %}"></script>
<script src="{% static 'js/editar.js' %}"></script>
{% endblock %}