{% extends "./baseInicio.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/inicio.css' %}">
<title>Inicio</title>
{% endblock %}

{% block body %}
<body>
    <!-- Inicio Tienda -->
    <section class="home">
      
  
    <section class="w-50 mx-auto text-center pt-5" id="intro">
      <h1 style="color: rgb(6, 171, 22)">Plantando Sueños</h1>
      <h1 class="p-3 fs-2 border-top border-2">
        ¡Bienvenidos a nuestra página de
        <span style="color: rgb(6, 171, 22)">Jardinería!</span>
      </h1>
      <p class="p-3 fs-6">
        en <span style="color: rgb(6, 171, 22)">SweetGarden</span> encontrarás
        todo lo que necesitas saber para crear y mantener un hermoso jardín en
        tu hogar. La jardinería es una actividad que puede ser muy gratificante
        y relajante, además de ser una excelente manera de conectarse con la
        naturaleza y embellecer tu espacio al aire libre.
      </p>
    </section>
  
    <!-- informacion extra -->
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col mt-4 pt-5 pb-5">
          <i class="fa-solid fa-book display-5 pb-3"></i>
          <h3 style="color: rgb(6, 171, 22)" >Desarrollo Avanzado</h3>
          <p>
            Productos de alta calidad, ampliamente utilizados y validados en
            jardines y la industria agrícola.
          </p>
        </div>
  
        <div class="col mt-4 pt-5 pb-5">
          <i class="fa-solid fa-leaf display-5 pb-3"></i>
          <h3 style="color: rgb(6, 171, 22)" >Plantas mas Sanas</h3>
          <p>
            Sin amarillamiento de hojas, necrosis, hongos y desordenes
            fisiológicos que causan pudrición de las raíces.
          </p>
        </div>
        <div class="col mt-4 pt-5 pb-5">
          <i class="fa-solid fa-globe display-5 pb-3"></i>
          <h3 style="color: rgb(6, 171, 22)" >Para todo el uso</h3>
          <p>
            Productos para las áreas de jardinería, viveros, proyectos de
            paisajismo, incluso un proyecto personal de jardín
          </p>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div><img  src="static/img/imgsInicio/estasi2.jpg" alt="" 
        style="margin-top: 20px; border-radius: 20px;"/></div>
  
      <span class="info-Quehacemo">
        
        <h1 style="color: rgb(6, 171, 22)" >Vendemos los mejores productos de jardineria</h1>
        <br />
        <p>
          nuestra pagina se especializa en la venta de productos de la mejor
          calidad y con el principal objetivo de cuidar a nuestras flores y
          plantas, ademas de ofrecer una amplia gama de productos y suministros
          para ayudarte a cuidar y mantener tu jardín.
        </p>
        <ul>
          <li>Productos seleccionados</li>
          <br />
          <li>Formatos convenientes</li>
          <br />
          <li>catalogo actualizado</li>
        </ul>
        <div class="boton1 ps-3 pt-2 pb-4">
          <a href="/productos#maceteros">
          <button class="btn btn-success">Productos</button></a>
        </div>
      </span>
    </div>
  
   
    
    <div class="container-fluid text-center" >
      <div class="row">
        <div class="col mt-4 pt-5 pb-5">
          <h1 style="color: rgb(6, 171, 22)">Ubicado en Santiago, Chile</h1>
        <br />
        <p>
          Elegimos Santiago para nuestra sucursal con el objetivo de estar cerca de nuestros clientes, estamos ubicados Macul, cerca de los mejores restaurantes, tiendas y parques, y tan solo a 15 minutos de una espectacular piscina. ¡Visitenos y no se arrepentiran!
        </p>
        <p>nos puedes contactar o encontrar tambien!</p>
        <p>llamanos al: +56 9289 9192</p>
        
        <div id="Clima">
          <h4 id="resultDolar">Clima: </h4>
          <h4 id="resultDolar2">Descripción: </h4>
          <h4 id="resultDolar3"> La temperatura es: </h4>
          <h4 id="resultDolar4"></h4>
          <h4 id="resultDolar5"></h4>
          <h4 id="resultDolar6"></h4>
          <h4 id="resultDolar7"></h4>
      </div>
        </div>
  
        <div class="col pb-2 " id="mapa">
          
           <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53262.28925476311!2d-70.6935409844393!3d-33.45209207784555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d0069af23abb%3A0x879d59f409ed4897!2sSantiago%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1680408793706!5m2!1ses!2scl"
          style="border: 0; width: 100%; height: 100%;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe> 
        
        </div>
      </div>
    </div>
    <div class="container-fluid">
    
      <div class="row p-5 pb-2 bg-dark text-white">
  
        <div class="col-xs-12 col-md-6 col-lg-3">
          <p class="h2">SweetGarden</p>
          <p class="text-secondary text-decoration-none">Santiago, Chile</p>
        </div>
  
        <div class="col-xs-12 col-md-6 col-lg-3">
          <p class="h5 mb-3">Mas recursos</p>
          <div class="mb-2">
            <a class="text-secondary text-decoration-none" href="#">homevan</a>
          </div>
  
          <div class="mb-2">
            <a class="text-secondary text-decoration-none" href="#"
              >jhpaisajismo</a>
          </div>
  
          <div class="mb-2">
            <a class="text-secondary text-decoration-none" href="#"
              >cultigarden</a
            >
          </div>
        </div>
  
        <div class="col-xs-12 col-md-6 col-lg-3">
          <p class="h5 mb-3">Links</p>
          <div class="mb-2">
            <a class="text-secondary text-decoration-none" href="#"
              >Terminos & condiciones</a
            >
          </div>
          <div class="mb-2">
            <a class="text-secondary text-decoration-none" href="#">Politica</a>
          </div>
        </div>
  
        <div class="col-xs-12 col-md-6 col-lg-3">
          <p class="h5 mb-3">Contacto</p>
          <div class="mb-2">
            <a class="text-secondary text-decoration-none" href="#"
              >Instagram</a>
          </div>
          <div class="mb-2">
            <a class="text-secondary text-decoration-none" href="#">Whatsapp</a>
          </div>
        </div>
        <div class="col-xs-12 pt-4">
          <p class="text-white text-center pt-5 ">Copyright - Todos los derechos resevados © 2023 </p>
        </div>
      </div>
    </div>
  
  </section>
  </body>
  <!-- Fin Tienda --> 
{% endblock %}

{% block script %}
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<script src="{% static 'js/consumirApi.js' %}"></script>

{% endblock %}