{% extends "./baseInicio.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/BaseTienda.css' %}">
<link rel="stylesheet" href="{% static 'css/styleCarro.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<title>Tienda</title>
{% endblock %}


{% block body %}  
<!-- Inicio Tienda -->

<section class="home">

    <!-- -----------------------------------CARRITO-------------------------------------------------------- -->
   
        <!-- Agregar el botón flotante del carrito -->
    <div id="carritoFlotante" class="carrito-flotante">
        <a href="compras"> <!-- Aquí colocas la URL de la página a la que quieres redirigir -->
            <button id="carritoBoton" class="carrito-boton">
                <i class="bi bi-cart"></i>
                <span id="cantidadCarrito" class="badge">0</span> <!-- Aquí se mostrará la cantidad en un círculo -->
            </button>
        </a>
    </div>
    


  <div id="contenedor-items" class="contenedor-items">
      <div class="contenedorMaceteros">

          <div class="text">
              <h1><strong>MACETEROS</strong></h1>
          </div>

          <!-- MACETEROS -->
          <div id="maceteros" class="container text-center">
              <div class="row">
                  
                  {% for p in prod_maceteros %}

                  <div class="col">
                    <div class="contenedorP" >
                        <div class="card ms-5 m-4">
                            <div class="imgProducto">
                                <img class="img-fluid"
                                    src="{{p.imagen.url}}">
                            </div>
                            <div class="contenidoCard">
                                <h3 ><strong class="nombreprduc">{{p.nombre}}</strong></h3>
                                <h5><small>{{p.descripcion}}
                                    </small></h5>
                                <p class="price">
                                    <i class="bi bi-currency-dollar"></i>{{p.precio}}
                                </p>
                                <div class="color">
                                </div>
                                <p class="text codigoProdu">{{p.sku}}</p>
                                    {% if user.is_authenticated %}
                                    <form method="post" action="{% url 'comprar_producto' p.sku %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-light">Comprar</button>
                                    </form>

                                    {% else %}  
                                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Comprar
                                      </button>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">¡Debe registrarse para comprar!</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              Para realizar una compra, por favor regístrese en nuestro sitio.
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                              <a href="{% url 'login_registro' %}" class="btn btn-light-modal">Registrarse</a>  
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>
                  {% endfor %}
              </div>
          </div>
      </div>



      <div class="contenedorTierras">
          <div class="text mt-5">
              <h1><strong>TIERRA DE HOJAS</strong></h1>
          </div>

          <!-- TIERRAS -->
          <div id="tierraHojas" class="container text-center">
              <div class="row">
                  
                  {% for p in prod_tierra %}

                  <div class="col" style="width: 300px">
                    <div class="contenedorP" style="
                    min-width: 400px;  max-width: 400px;">
                        <div class="card ms-5 m-4">
                            <div class="imgProducto">
                                <img class="img-fluid"
                                    src="{{p.imagen.url}}">
                            </div>
                            <div class="contenidoCard">
                                <h3><strong>{{p.nombre}}</strong></h3>
                                <h5><small>{{p.descripcion}}
                                    </small></h5>
                                <p class="price">
                                    <i class="bi bi-currency-dollar"></i>{{p.precio}}
                                </p>
                                <div class="color">
                                </div>
                                <p class="text codigoProdu">{{p.sku}}</p>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-light">Comprar</button>
                                    <button type="button" class="btn btn-light"><i
                                            class="bi bi-cart-plus-fill"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  {% endfor %}
              </div>
          </div>
      </div>

      <div class="contenedorFlores">
          <div class="text">
              <h1><strong>FLORES</strong></h1>
          </div>
          <!-- FLORES -->
          <div id="flores" class="container text-center">
              <div class="row">
                  

                  {% for p in prod_flores %}

                  <div class="col" style="width: 300px">
                    <div class="contenedorP" style="
                    min-width: 400px;  max-width: 400px;">
                        <div class="card ms-5 m-4">
                            <div class="imgProducto">
                                <img class="img-fluid"
                                    src="{{p.imagen.url}}">
                            </div>
                            <div class="contenidoCard">
                                <h3><strong>{{p.nombre}}</strong></h3>
                                <h5><small>{{p.descripcion}}
                                    </small></h5>
                                <p class="price">
                                    <i class="bi bi-currency-dollar"></i>{{p.precio}}
                                </p>
                                <div class="color">
                                </div>
                                <p class="text codigoProdu">{{p.sku}}</p>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-light">Comprar</button>
                                    <button type="button" class="btn btn-light"><i
                                            class="bi bi-cart-plus-fill"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  {% endfor %}

              </div>
          </div>
      </div>

      <div class="contenedorArbustos">
          <div class="text">
              <h1><strong>ARBUSTOS</strong></h1>
          </div>
          <!-- ARBUSTOS -->
          <div id="arbustos" class="container text-center">
              <div class="row">
                  
                  {% for p in prod_arbustos %}

                  <div class="col" style="width: 300px">
                    <div class="contenedorP" >
                        <div class="card ms-5 m-4">
                            <div class="imgProducto">
                                <img class="img-fluid" height="100px"
                                    src="{{p.imagen.url}}">
                            </div>
                            <div class="contenidoCard">
                                <h3><strong>{{p.nombre}}</strong></h3>
                                <h5><small>{{p.descripcion}}
                                    <p>{{p.stock}}</p>
                                    </small></h5>
                                    
                                <p class="price">
                                    <i class="bi bi-currency-dollar"></i>{{p.precio}}
                                
                                </p>
                                <div class="color">
                                </div>
                                <p class="text codigoProdu">{{p.sku}}</p>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-light">Comprar</button>
                                    <button type="button" class="btn btn-light"><i
                                            class="bi bi-cart-plus-fill"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  {% endfor %}
              </div>


          </div>
      </div>
  </div>


  
</section>
<!-- Fin Tienda -->
{% endblock %}

{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var cantidadCompras = {{ cantidad_compras }};
        var cantidadCarrito = document.getElementById("cantidadCarrito");
        
        if (cantidadCompras > 0) {
            cantidadCarrito.style.display = "block";
            cantidadCarrito.textContent = cantidadCompras;
        } else {
            cantidadCarrito.style.display = "none";
        }
    });
  </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
{% endblock %}
