body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#text-center{
  background-color: green;
}

.container{
  align-items: center;
  display: flex;
}
.contenedorP {
  padding-left: 50px;
}
.contenedorP .card {
  position: relative;
  width: 400px;
  height: 550px;
  background: #232323;
  color: white;
  border-radius: 20px;
  overflow: hidden;
}
.contenedorP .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #aeafb2;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}
.contenedorP .card:hover:before {
  clip-path: circle(300px at 80% -20%);
}
.contenedorP .card:after {
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(25, 182, 255, 0.05);
}
.contenedorP .card .imgProducto {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}
.contenedorP .card:hover .imgProducto {
  top: 0%;
  transform: translateY(25%);
}
.contenedorP .card .imgProducto img {
  position: absolute;
  top: 50%;   
  left: 50%;
  transform: translate(-30%, -70%);
  width: 220px;
}
.contenedorP .card .contenidoCard {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}
.contenedorP .card:hover .contenidoCard {
  height: 270px;
}
.contenedorP .card .contenidoCard h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}
.contenedorP .card .contenidoCard .size,
.contenedorP .card .contenidoCard .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}
.contenedorP .card:hover .contenidoCard .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}
.contenedorP .card:hover .contenidoCard .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}
.contenedorP .card .contenidoCard a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}
.contenedorP .card:hover .contenidoCard a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}

img{
  border-radius: 75%;
}

.card{
  border: none;
  box-shadow: 5px 20px 50px #000;
}

#parrafoCod{
  color: gray;
}

:root{
--body-color: #eff0f1;
--sidebar-color: #FFF;
--primary-color: #232424;
--primary-color-light: #f0f0f1;
--toggle-color: #b4adad;
--text-color: #444343;

--tran-03: all 0.2s ease;
--tran-03: all 0.3s ease;
--tran-04: all 0.3s ease;
--tran-05: all 0.3s ease;
}

body{
min-height: 100vh;
background-color: var(--body-color);
transition: var(--tran-05);
}

::selection{
background-color: var(--primary-color);
color: #fff;
}

body.dark{
--body-color: #18191a;
--sidebar-color: #242526;
--primary-color: #3a3b3c;
--primary-color-light: #3a3b3c;
--toggle-color: #fff;
--text-color: #ccc;
}

.sidebar{
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 250px;
padding: 10px 14px;
background: var(--sidebar-color);
transition: var(--tran-05);
z-index: 100;  
}
.sidebar.close{
width: 88px;
}

.sidebar li{
height: 50px;
list-style: none;
display: flex;
align-items: center;
margin-top: 10px;
}

.sidebar header .image,
.sidebar #icon{
min-width: 60px;
border-radius: 6px;
}

.sidebar #icon{
min-width: 60px;
border-radius: 6px;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
font-size: 20px;
}

.sidebar .text,
.sidebar #icon{
color: var(--text-color);
transition: var(--tran-03);
}

.sidebar {
font-size: 17px;
font-weight: 500;
white-space: nowrap;
opacity: 1;
}
.sidebar.close .text{
opacity: 0;
}

.sidebar header{
position: relative;
}

.sidebar header .image-text{
display: flex;
align-items: center;
}
.sidebar header .logo-text{
display: flex;
flex-direction: column;
}
header .image-text .name {
margin-top: 2px;
font-size: 18px;
font-weight: 600;
}

header .image-text .profession{
font-size: 16px;
margin-top: -2px;
display: block;
}

.sidebar header .image{
display: flex;
align-items: center;
justify-content: center;
}

.sidebar header .image img{
width: 40px;
border-radius: 6px;
}

.sidebar header .toggle{
position: absolute;
top: 50%;
right: -25px;
transform: translateY(-50%) rotate(180deg);
height: 25px;
width: 25px;
background-color: var(--primary-color);
color: var(--sidebar-color);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
size: 22px;
cursor: pointer;
transition: var(--tran-05);
}

.sidebar .toggle{

height: 25px;
width: 25px;

}

body.dark .sidebar header .toggle{
color: var(--text-color);
}

.sidebar.close .toggle{
transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
margin-top: 40px;
}


.sidebar li.search-box{
border-radius: 8px;
background-color: var(--primary-color-light);
cursor: pointer;
transition: var(--tran-05);
}


.sidebar li.search-box input{
height: 100%;
width: 100%;
outline: none;
border: none;
background-color: var(--primary-color-light);
color: var(--text-color);
border-radius: 6px;
font-size: 17px;
font-weight: 500;
transition: var(--tran-05);
}

.sidebar li a{
list-style: none;
height: 100%;
background-color: transparent;
display: flex;
align-items: center;
height: 100%;
width: 100%;
border-radius: 6px;
text-decoration: none;
transition: var(--tran-03);
}



.sidebar li a:hover{
background-color: var(--primary-color);
}

.sidebar li a:hover #icon{
color: white;
}
.sidebar li a:hover #icon,
.sidebar li a:hover .text{
color: var(--sidebar-color);
}
body.dark .sidebar li a:hover #icon,
body.dark .sidebar li a:hover .text{
color: var(--text-color);
}

body.dark .sidebar li a:hover #icon,
body.dark .sidebar li a:hover .text{
color: var(--text-color);
}

.sidebar .menu-bar{
height: calc(100% - 55px);
display: flex;
flex-direction: column;
justify-content: space-between;
overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
display: none;
}
.sidebar .menu-bar .mode{
border-radius: 6px;
background-color: var(--primary-color-light);
position: relative;
transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
height: 50px;
width: 60px;
}

.mode .sun-moon i{
position: absolute;
}
.mode .sun-moon i.sun{
opacity: 0;
}
body.dark .mode .sun-moon i.sun{
opacity: 1;
}
body.dark .mode .sun-moon i.moon{
opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
position: absolute;
right: 0;
height: 100%;
min-width: 60px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 6px;
cursor: pointer;
}
.toggle-switch .switch{
position: relative;
height: 22px;
width: 40px;
border-radius: 25px;
background-color: var(--toggle-color);
transition: var(--tran-05);
}

.switch::before{
content: '';
position: absolute;
height: 15px;
width: 15px;
border-radius: 50%;
top: 50%;
left: 5px;
transform: translateY(-50%);
background-color: var(--sidebar-color);
transition: var(--tran-04);
}

body.dark .switch::before{
left: 20px;
}

.home{
position: absolute;
top: 0;
left: 250px;
height: 100vh;
width: calc(100% - 250px);
background-color: var(--body-color);
transition: var(--tran-05);
}
.home .text{
font-size: 20px;
font-weight: 500;
color: var(--text-color);
padding: 12px 60px;
display: flex;
justify-content: center;
}

.home .title{
font-size: 20px;
font-weight: 500;
color: var(--text-color);
padding: 12px 60px;
display: flex;
justify-content: center;
}
#titulo{
font-size: 20px;
font-weight: 500;
color: var(--text-color);
padding: 12px 60px;
display: flex;
justify-content: center;
}

.sidebar.close ~ .home{
left: 78px;
height: 100vh;
width: calc(100% - 78px);
}
body.dark .home .text{
color: var(--text-color);
}


#plant{
height: 50px;
width: 60px;
}

#icon_luna{
padding-top: 12px;
padding-left: 23px;
}

#icon_sol{
padding-top: 12px;
padding-left: 23px;
color: white;
}

#dropNavbar{
width: 100%;
}





#text-center{
background-color: green;
}

.container{
align-items: center;
display: flex;
}
.contenedorP {
align-items: center;
display: flex;
padding-left: 50px;
}
.contenedorP .card {
position: relative;
width: 400px;
height: 550px;
background: #232323;
color: white;
border-radius: 20px;
overflow: hidden;
}
.contenedorP .card:before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #aeafb2;
clip-path: circle(150px at 80% 20%);
transition: 0.5s ease-in-out;
}
.contenedorP .card:hover:before {
clip-path: circle(300px at 80% -20%);
}
.contenedorP .card:after {
position: absolute;
top: 30%;
left: -20%;
font-size: 12em;
font-weight: 800;
font-style: italic;
color: rgba(25, 182, 255, 0.05);
}
.contenedorP .card .imgProducto {
position: absolute;
top: 50%;
transform: translateY(-50%);
z-index: 100;
width: 100%;
height: 220px;
transition: 0.5s;
}
.contenedorP .card:hover .imgProducto {
top: 0%;
transform: translateY(25%);
}
.contenedorP .card .imgProducto img {
position: absolute;
top: 50%;   
left: 50%;
transform: translate(-30%, -70%);
width: 220px;
}
.contenedorP .card .contenidoCard {
position: absolute;
bottom: 0;
width: 100%;
height: 100px;
text-align: center;
transition: 1s;
z-index: 10;
}
.contenedorP .card:hover .contenidoCard {
height: 270px;
}
.contenedorP .card .contenidoCard h2 {
position: relative;
font-weight: 600;
letter-spacing: 1px;
color: #fff;
margin: 0;
}
.contenedorP .card .contenidoCard .size,
.contenedorP .card .contenidoCard .color {
display: flex;
justify-content: center;
align-items: center;
padding: 8px 20px;
transition: 0.5s;
opacity: 0;
visibility: hidden;
padding-top: 0;
padding-bottom: 0;
}
.contenedorP .card:hover .contenidoCard .size {
opacity: 1;
visibility: visible;
transition-delay: 0.5s;
}
.contenedorP .card:hover .contenidoCard .color {
opacity: 1;
visibility: visible;
transition-delay: 0.6s;
}
.contenedorP .card .contenidoCard a {
display: inline-block;
padding: 10px 20px;
background: #fff;
border-radius: 4px;
margin-top: 10px;
text-decoration: none;
font-weight: 600;
color: #111;
opacity: 0;
transform: translateY(50px);
transition: 0.5s;
margin-top: 0;
}
.contenedorP .card:hover .contenidoCard a {
opacity: 1;
transform: translateY(0px);
transition-delay: 0.75s;
}

img{
border-radius: 75%;
}

.card{
border: none;
box-shadow: 5px 20px 50px #000;
}

#parrafoCod{
color: gray;
}

.contenedorMaceteros{
padding-top: 2%;
padding-bottom: 10%;
}

.contenedorTierras{
padding-top: 10%;
padding-bottom: 10%;
}

.contenedorFlores{
padding-top: 10%;
padding-bottom: 10%;
}

.contenedorArbustos{
padding-top: 10%;
padding-bottom: 10%;
}


.carrito {
  border: 1px solid #666;
  width: auto; /* Cambiado a tama침o autom치tico */
  max-width: 80%; /* Ancho m치ximo para evitar que ocupe toda la pantalla */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  border-radius: 10px;
  overflow: hidden;
  transition: .3s;
  margin-right: 0;
  opacity: 1;
}

#btnDropdown{
align-items: center;
text-align: center;
position: absolute;
margin-left: 100%;
}

.offcanvas-body{
  flex-direction: column;
  background-color: var(--primary-color-light) ;
  transition: var(--tran-05);
}

.offcanvas-header{
  background-color: var(--primary-color-light) ;
  color: var(--text-color);
  transition: var(--tran-05);
}
.btn-close{
  background-color: var(--primary-color-light);
  transition: var(--tran-05);
}

.modal-content{
  color: var(--text-color);
  transition: var(--tran-05);
  justify-content: center;
}

.total-content{
  color: var(--text-color);
  transition: var(--tran-05);
  margin: 2%;
}

.carrito-flotante {
  position: fixed;
  top: 20px; /* Ajuste la posici칩n superior */
  right: 20px;
  z-index: 1000 !important;
}

.carrito-boton {
  background-color: rgb(6, 171, 22);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
}

.carrito-boton i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cantidadCarrito {
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  top: -1px;
  right: -1px;
  font-size: 11px;
}




