#carrito {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
  }

  .producto {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }